<div>
  <div>
    <p>Game over</p>
    <% if @winning_player.nil? %>
      <p>Result: tie game</p>
    <% else %>
      <p>Result: Player <%= @winning_player %> wins</p>
    <% end %>
    <p>Thanks for playing!</p>
    <a href="/">Play again</a>
  </div>

  <div id="game-history">
    <h3>Tic Tac Toe Completed Games History</h3>
    <table>
      <tbody>
        <tr>
          <th>ID</th>
          <th>Player 1</th>
          <th>Player 2</th>
          <th>Moves</th>
          <th>Timestamp</th>
        </tr>
        <% @games.each do |row| %>
          <tr>
            <td><%= row[:id] %> </td>
            <td><%= row[:player1_mark] %> </td>
            <td><%= row[:player2_mark] %> </td>
            <td><%= row[:moves] %></td>
            <td><%= row[:time] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>